<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<div id="page" layout:fragment="content">

	<!-- Call to Action -->
	<section class="call-to-action text-white text-center">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-9 mx-auto">
					<h1 class="mb-4">Bank Transfer</h1>
				</div>
				<div class="col-md-10 col-lg-8 col-xl-7 mx-auto"></div>
			</div>
		</div>
	</section>

	<section class="features-icons bg-light text-left">
		<div class="container w-75 h-50 pt-5 shadow p-5 mb-5 bg-white rounded">
			<div class="row">
				<div class="col-9">
					<div class="container">
						<div class="row">
							<div class="col-4 h5 text-primary">ID</div>
							<div class="col h5" th:text="${transfer.id}" />
							<div class="w-100"></div>
							<div class="col-4 h5 text-primary">Beneficiary Name</div>
							<div class="col h5" th:text="${transfer.beneficiaryName}" />
							<div class="w-100"></div>
							<div class="col-4 h5 text-primary">Beneficiary IBAN</div>
							<div class="col h5" th:text="${transfer.beneficiaryIBAN}" />
							<div class="w-100"></div>
							<div class="col-4 h5 text-primary">Amount (€)</div>
							<div class="col h5" th:text="${transfer.amount}" />
							<div class="w-100"></div>
							<div class="col-4 h5 text-primary">Purpose</div>
							<div class="col h5" th:text="${transfer.purpose}" />
						</div>
					</div>
				</div>
				<div class="col"> 
					<div id="spinner" class="row">
						<div class="m-auto">
							<div class="spinner-grow text-primary" role="status"></div>
							<div class="spinner-grow text-primary" role="status"></div>
							<div class="spinner-grow text-primary" role="status"></div>
							<div class="spinner-grow text-primary" role="status"></div>
						</div>
					</div>
					<div id="trxApproved" class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
						<div class="features-icons-icon d-flex">
							<i class="icon-check m-auto text-success"></i>
						</div>
					</div>
					<div id="trxCanceled" class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
						<div class="features-icons-icon d-flex">
							<i class="icon-close m-auto text-danger"></i>
						</div>
					</div>
					<br>
					<div class="row h5">
						<div id="approvalMessage" class="m-auto">Please approve</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<script>
		(function () {
			$("#trxApproved").hide ();
			$("#trxCanceled").hide ();
			
			poll = function () {
				console.log('Polling');
				$.get('transaction-approval-wait', function(data) {
					console.log(data.status);
					
					if (data.status == 'COMPLETED') {
						console.log('Transaction Approved');
						$("#spinner").hide ();
						$("#trxApproved").show ();
						$("#approvalMessage").text ('Transaction approved');
						clearInterval (pollInterval);
			        }
					
					if (data.status == 'FAILED') {
						console.log('Transaction Blocked');
						$("#spinner").hide ();
						$("#trxCanceled").show ();
						$("#approvalMessage").text ('Transaction blocked');
						clearInterval (pollInterval);
			        }
					
					if (data.status == 'PUSH_CONFIRMATION_TIMED_OUT') {
						console.log('Approval timed out');
						$("#spinner").hide ();
						$("#trxCanceled").show ();
						$("#approvalMessage").text ('Request timed out');
						clearInterval (pollInterval);
			        }
					
				});
			}
			
			pollInterval = setInterval  (function () {
				poll ();
			}, 2000);
			
		})();
	</script>
	
</div>

</html>